.style {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-flow: column;
    gap: 1rem;

    .droparea-wrapper {

        .dropzone {
            display: flex;
            gap: 1rem;
            align-content: center;
            align-items: center;

            .droparea-button {
                background-color: var(--shape-button);
                padding: .75rem;
                border-radius: .5rem;
                gap: .5rem;
                position: relative;

                & input[type="file"] {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    inset: 0;
                    opacity: 0;

                    &:hover {
                        cursor: pointer;
                    }
                }

                & label{
                    display: flex;
                    gap: .5rem;
                    align-items: center;
                }
            }

            &>span {
                font: var(--body-md);
                color: var(--input-placeholder);
            }
        }
    }
}