input,
textarea,
select {
    appearance: none;
    width: 100%;
    border-radius: .5rem;
    border: 2px solid transparent;
    outline: 1px solid var(--input-stroke);

    font: var(--body-md);
    color: var(--input-placeholder);
    background-color: var(--input-base);
    color: var(--input-placeholder);
    padding: 0.8125rem 1rem;
}

label {
    font: var(--body-sm);
    color: var(--text-body);

    display: block;
}

input:focus,
textarea:focus,
select:focus {
    border-color: var(--brand-light);
}

input {
    &[required]+.erro {
        font: var(--body-xs);
        display: flex;
        gap: 0.5rem;
        margin-top: 0.5rem;
        align-items: center;
        color: var(--danger);
    }

    &:invalid {
        border: 0.125rem solid var(--danger);
    }

    &:not(:focus):valid+.erro {
        display: none;
    }

    &:valid +.erro {
        display: none;
    }
}

input:hover,
textarea:hover,
select:hover {}