.radio-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: .25rem;
    gap: .5rem;
    border: 2px solid transparent;
    outline: 1px solid var(--input-stroke);
    border-radius: .50rem;
    background-color: var(--input-base);

    &>input[type="radio"] {
        display: none;
    }

    label {
        display: flex;
        gap: 0.25rem;
        justify-content: center;
        align-content: center;

        align-items: center;
        cursor: pointer;
        background-color: inherit;
        color: var(--text-body);
        transition: background-color 0.2s ease;
        border-radius: .25rem;
        padding: .75rem 1.125rem;
        margin: 0;
    }

    .radio-image-building {
        background-image: url(../../assets/icons/building-2.svg);
        background-position: center;
        background-size: contain;

        width: 1rem;
        height: 1rem;
    }

    .radio-image-video {
        background-image: url(../../assets/icons/video.svg);
        background-position: center;
        background-size: contain;

        width: 1rem;
        height: 1rem;
    }

    &>input[type="radio"]:checked+label {
        background-color: var(--shape-hover);
        color: var(--text-heading);

        .radio-image-building {
            background-image: url(../../assets/icons/building-checked.svg);
        }

        .radio-image-video {
            background-image: url(../../assets/icons/video-checked.svg);
        }
    }

}

.radio-wrapper {

    &:not(.flex-1) {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .radio-colors {
        display: flex;
        justify-content: space-between;

        input[type="radio"] {
            width: 2.5rem;
            height: 2.5rem;
            background-color: var(--shape-button);
            border-radius: 999rem;
            position: relative;
        }

        input[id="1"]::after {
            content: "";
            width: 1.75rem;
            height: 1.75rem;
            position: absolute;
            border-radius: 999rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: var(--brand-light);
        }

        input[id="2"]::after {
            content: "";
            width: 1.75rem;
            height: 1.75rem;
            position: absolute;
            border-radius: 999rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: var(--navy);
        }

        input[id="3"]::after {
            content: "";
            width: 1.75rem;
            height: 1.75rem;
            position: absolute;
            border-radius: 999rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: var(--purple);
        }

        input[id="4"]::after {
            content: "";
            width: 1.75rem;
            height: 1.75rem;
            position: absolute;
            border-radius: 999rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: var(--fuschia);
        }

        input[id="5"]::after {
            content: "";
            width: 1.75rem;
            height: 1.75rem;
            position: absolute;
            border-radius: 999rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: var(--pink);
        }

        input[id="6"]::after {
            content: "";
            width: 1.75rem;
            height: 1.75rem;
            position: absolute;
            border-radius: 999rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: var(--danger);
        }

        input[id="7"]::after {
            content: "";
            width: 1.75rem;
            height: 1.75rem;
            position: absolute;
            border-radius: 999rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: var(--orange);
        }

        input[id="8"]::after {
            content: "";
            width: 1.75rem;
            height: 1.75rem;
            position: absolute;
            border-radius: 999rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: var(--yellow);
        }

        input[id="9"]::after {
            content: "";
            width: 1.75rem;
            height: 1.75rem;
            position: absolute;
            border-radius: 999rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: var(--lime);
        }

        input[id="10"]::after {
            content: "";
            width: 1.75rem;
            height: 1.75rem;
            position: absolute;
            border-radius: 999rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: var(--green);
        }

        input[id="11"]::after {
            content: "";
            width: 1.75rem;
            height: 1.75rem;
            position: absolute;
            border-radius: 999rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: var(--cyan);
        }
    }
}

.card-wrapper {
    display: grid;
    gap: 1rem;

    #card {
        position: relative;
        display: grid;
        justify-items: center;
        gap: 0.5rem;

        padding: .25rem .25rem 0;

        background-color: var(--shape-button);
        border-radius: .5rem;

        img {
            border-radius: .25rem;
        }

        label {
            margin-block: .5rem;
        }

        input {
            offset: all;
            inset: 0;
            position: absolute;
            height: 100%;
            background-color: transparent;
        }
    }
}

.toggle-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .toggle {
        display: flex;
        align-items: center;
        gap: .5rem;

        &>input[type="radio"] {
            appearance: none;
            border-radius: 999px;
            object-fit: contain;
        }

        input:checked {
            background-color: var(--brand-light);
        }
    }
}