form {
    display: grid;
    gap: 3rem;
}

fieldset {
    border: none;

    header {
        display: flex;
        gap: 0.75rem;
        align-items: center;
    }
}

legend {
    font: var(--heading-sm);
    color: var(--text-heading);
}